---
---

@import "{{ site.theme }}";

body {
  background-color: #f2ece6; //f5ede8
}


.page-header {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)
  ),
  url("https://msteffl.github.io/hochzeit/assets/hochzeit_logo.jpg");
  // background-image: url("https://msteffl.github.io/hochzeit/assets/hochzeit_logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  opacity: 0.9;
  background-position: center top;
}

.project-tagline.big {
  font-size: 3vh;
  font-weight: 800;
  opacity: 0.8;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  color: #DAA520;
}

h2 {
  font-family: 'Dancing Script', cursive;
  color: #DAA520;
}

.main-content h2 {
  color: #DAA520;
}

.main-content hr {
  background-color: #c7aead !important;
}

.citat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.citat-text {
  font-family: 'Dancing Script', cursive;
  color: #DAA520;
  font-size: 3vh;
}

.citat-author {
  padding-top: 1vh;
  font-size: 1.5vh;
}

#tagesprogramm:before {
  content: "";
  background-image: url("https://msteffl.github.io/hochzeit/assets/icons8-diamantring-40.png");
  width: 40px;
  height: 40px;
  padding: 0px 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

[id="1030-uhr---kirche"]:before {
  content: "";
  background-image: url("https://msteffl.github.io/hochzeit/assets/icons8-kirche-48.png");
  width: 40px;
  height: 40px;
  padding: 0px 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

[id="1300-uhr---ankunft-festhalle-niederstetten"]:before {
  content: "";
  background-image: url("https://msteffl.github.io/hochzeit/assets/halle.png");
  width: 40px;
  height: 40px;
  padding: 0px 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

[id="1430-uhr---hochzeitsessen"]:before {
  content: "";
  background-image: url("https://msteffl.github.io/hochzeit/assets/icons8-schinken-64.png");
  width: 40px;
  height: 40px;
  padding: 0px 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

[id="ab-1530-uhr---hochzeitsprogramm"]:before {
  content: "";
  background-image: url("https://msteffl.github.io/hochzeit/assets/icons8-partyballons-64.png");
  width: 40px;
  height: 40px;
  padding: 0px 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

[id="2330-uhr---brautschleier-abnahme"]:before {
  content: "";
  background-image: url("https://msteffl.github.io/hochzeit/assets/icons8-braut-40.png");
  width: 40px;
  height: 40px;
  padding: 0px 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

[id="0130-uhr--0300-uhr---bus-transfer-nach-dörzbachklepsau"]:before {
  content: "";
  background-image: url("https://msteffl.github.io/hochzeit/assets/icons8-bus-64.png");
  width: 40px;
  height: 40px;
  padding: 0px 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

[id="12072020-ca-10-uhr---frühstück-in-der-halle-optional"]:before {
  content: "";
  background-image: url("https://msteffl.github.io/hochzeit/assets/icons8-suppenteller-48.png");
  width: 40px;
  height: 40px;
  padding: 0px 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
